* {
    --MainColor: #2C2C30;
    /* --MainColor: #242424; */
    --SecondaryColor: white;
    --DecorateColor: #D5D5D6;
}

.container.all-posts {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-container {
        --cardWidth: 15.5vw;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        row-gap: 10px;
        padding: 10px 5%;

        .post-card {
            background: none;
            justify-self: center;
            border: solid 1px var(--SecondaryColor);
            cursor: default;
            border-radius: 30px;
            width: 20vw;
            height: fit-content;
            padding: 0 20px 15px 20px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 40px auto;
            gap: 0;

            .post-card_date {
                display: flex;
                flex-direction: column;
                justify-content: end;
                text-transform: uppercase;
                font-size: 1.5em;
                margin: 0;
                height: 40px;

            }

            span{
                display: inline-block;
                h1{
                    font-size: 1.5em;
                    position: relative;
                    z-index: 2;
                    margin: 0;
                }
                img {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
                .buttons-area{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .btn{
                        height: fit-content;
                        p{
                            margin: 0;
                            letter-spacing: 0;
                            transition: letter-spacing 0.5s ease-in-out;
                        }
                    }

                    .btn.read-more{
                        margin-bottom: 5px;
                        border: solid 1px var(--darkMode-SecondaryColor);
                        background: none;
                        align-self: center;
                        width: 50%;
                        min-width: fit-content;
                        transition: width 0.5s ease-in;
                        position: relative;
                        display: flex;
                        justify-content: center;
                    }
                    .btn.read-more:hover>p{
                        letter-spacing: 5px;
                    }
                    .btn.read-more::after{
                        content: "";
                        position: absolute;
                        height: 2%;
                        bottom: 20%;
                        width: 0;
                        background: var(--SecondaryColor);
                        transition: width 0.5s ease-in;
                    }
                    .buttons-dashboard{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                        gap: 10px;
                        .btn{
                            padding: 5px 20px;
                            width: 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            position: relative;
                        }
                        .btn::after{
                            position: absolute;
                            content: "";
                            height: 6%;
                            bottom: 0; 
                            width: 0;
                            transition: height 0.5s ease-in, width 0.5s ease-in;
                        }
                        .btn:hover::after{
                            height: 6%;
                            width: 60%;
                        }
                    }
                    .btn-danger {
                        background: #dc3545;
                    }
                    .btn-danger::after {
                        background: #780e19;
                    }
                    .btn-secundary::after {
                        background: #4f4f52;
                    }
                }

            }

        }
        .post-card:hover>span>.buttons-area>.btn.read-more::after{
            width: 90%;
        }
        .post-card:hover>span>.buttons-area>.btn.read-more{
            width: 100%;
        }
        
    }

}

@media (max-width: 900px){
    .container.all-posts{
        .card-container{
            display: grid;
            grid-template-columns: repeat(2, auto);
            .post-card{
                width: 30vw;
            }
        }
    }
}