* {
  --darkMode-MainColor: #2C2C30;
  /* --darkMode-MainColor: #242424; */
  --darkMode-SecondaryColor: white;
  --darkMode-DecorateColor: #D5D5D6;
  --borderRadius: 49px;
}

body {
  background: var(--darkMode-MainColor);
  font-family: "League Spartan", sans-serif;
  color: var(--darkMode-SecondaryColor);
  display: flex;
  flex-direction: column;

}

header {
  width: 90vw;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: solid 1px var(--darkMode-SecondaryColor);
  margin-bottom: 30px;

  nav {
    display: flex;
    flex-direction: row;
    a {
      height: fit-content;
      position: relative;
      margin: 5px 0;
      padding-top: 5px;
      p{
        font-weight: 300;
        letter-spacing: 3px;
        padding: 0 5px;
        color: var(--darkMode-SecondaryColor);
        margin: 0;
      }
    }
    a:hover>p{
      background: #151518;
    }
    a.current-page:hover>p{
      background: var(--darkMode-DecorateColor);
    }

    .current-page {
      background: var(--darkMode-DecorateColor);
      margin-right: 5px;
      p{
        color: var(--darkMode-MainColor);
      }
    }

    :first-child {
      padding-left: 5px;
    }

    :nth-child(2)>p{
      margin-left: 5px;
    }
    :nth-child(2)::before {
      content:  "";
      color: var(--darkMode-SecondaryColor);
      height: 70%;
      top: 15%;
      width: 1vw;
      border-left: solid 2px var(--darkMode-SecondaryColor);
      left: 0;
      position: absolute;
    }
  }
}

main {
  width: 100vw;
}

footer{
  width: 90vw;
  margin-top: 30px;
  border-top: solid 1px var(--darkMode-SecondaryColor);

  display: flex;
  justify-content: center;
  p{
    margin: 0;
    font-size: 1rem;
  }
  a{
    height: 1rem;
    color: var(--darkMode-SecondaryColor);
    display: flex;
    max-width: fit-content;
  }
  li:hover>p,li:hover>a{
    color: #151518;
  }
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    li{
      padding: 5px 10px;
      width: fit-content;
    }
  }
}

.container{
  padding: 0;
  border: solid 1px var(--darkMode-SecondaryColor);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: center;
  .container_header{
    width: 100%;
    border-bottom: solid 1px var(--darkMode-SecondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    h2 {
      margin: 5px 0 0 40px;
    }
    a.btn,button{
      margin: 5px 35px;
    }
  }}

a{
  cursor: pointer;
}
li{
  cursor: pointer;
}

.btn,button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.btn-primary {
  font-weight: 500;
}
.btn-primary:hover{
  background: #151518;
  color: white;
}
.btn-secundary {
  background: #151518;
  color: white;
}

.btn-secundary:hover{
  background: var(--darkMode-DecorateColor);
  color: var(--darkMode-MainColor);
}
.btn.transparent{
  border: solid 1px var(--darkMode-SecondaryColor);
  background: none;
}
