* {
  /* --darkMode-MainColor: #2C2C30; */
  --darkMode-SecondaryColor: white;
  --borderRadius: 49px;
}

body {
  font-family: "League Spartan", sans-serif;
  color: var(--SecondaryColor);
  display: flex;
  flex-direction: column;

}

header {
  width: 90vw;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: solid 1px var(--SecondaryColor);
  margin-bottom: 30px;
  transition: .3s;

  nav {
    display: flex;
    flex-direction: row;
    a {
      height: fit-content;
      position: relative;
      margin: 5px 0;
      padding-top: 5px;
      p{
        font-weight: 300;
        letter-spacing: 3px;
        padding: 0 5px;
        color: var(--SecondaryColor);
        margin: 0;
      }
    }
    a:hover>p{
      background: #151518;
    }
    a.current-page:hover>p{
      background: var(--DecorateColor);
    }

    .current-page {
      p{
        background: var(--DecorateColor);
        color: var(--MainColor);
      }
    }

    :first-child {
      padding-left: 5px;
    }

    :nth-child(2)>p{
      margin-left: 10px;
    }
    :nth-child(2)::before {
      content:  "";
      color: var(--SecondaryColor);
      margin-left: 5px;
      height: 70%;
      top: 15%;
      width: 1vw;
      border-left: solid 2px var(--SecondaryColor);
      left: 0;
      position: absolute;
    }
  }
  .input {
    visibility: hidden;
  }
  .label {
    background-color: black;
    height: 40px;
    width: 80px;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    
  }
  .circle {
    width: 34px;
    height: 34px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    animation: toggleOff .3s linear forwards;
  }
  .input:checked + .label {
    background-color: white;
  }
  .input:checked + .label .circle {
    background-color: black;
    animation: toggleOn .3s linear forwards;
  }

  @keyframes toggleOn {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(40px);
    }
  }
  @keyframes toggleOff {
    0% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

main {
  width: 100vw;
}

footer{
  width: 90vw;
  margin-top: 30px;
  border-top: solid 1px var(--SecondaryColor);

  display: flex;
  justify-content: center;
  p{
    margin: 0;
    font-size: 1rem;
  }
  a{
    height: 1rem;
    color: var(--SecondaryColor);
    display: flex;
    max-width: fit-content;
  }
  li:hover>a{
    font-weight: 600;
  }
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    li{
      padding: 5px 10px;
      width: fit-content;
    }
  }
}

.container{
  padding: 0;
  border: solid 1px var(--SecondaryColor);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: center;
  .container_header{
    width: 100%;
    border-bottom: solid 1px var(--SecondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    h2 {
      margin: 5px 0 0 40px;
    }
    a.btn,button{
      margin: 5px 35px;
    }
  }}

a{
  cursor: pointer;
  text-decoration: none ;
}
a.current-page>p{
  font-weight: 400;
}
li{
  cursor: pointer;
}

#button_BackToTop{
  --buttonToTopSize: 60px;
  height: var(--buttonToTopSize);
  width: var(--buttonToTopSize);
  border: none;
  background: none;
  display: flex;
  padding: 0;

  svg{
    height: var(--buttonToTopSize); width: var(--buttonToTopSize);
    path{
      fill: var(--DecorateColor);
    }
  }
}

.btn,button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.btn-primary {
  font-weight: 500;
}
.btn-primary:hover{
  background: var(--SecondaryColor);
  color: white;
}
.btn-secondary {
  background: var(--SecondaryColorDecorate);
  color: white;
}

.btn-secondary:hover{
  background: var(--DecorateColor);
  color: var(--MainColor);
}
.btn.transparent{
  border: solid 1px var(--SecondaryColor);
  background: none;
}
