* {
  --borderRadius: 49px;
  --darkMode-SecondaryColor: white;
  --SecondaryColorDecorate: #242424;
  --DecorateColor: #D5D5D6;
}

body {
  font-family: "League Spartan", sans-serif;
  color: var(--SecondaryColor);
  background: #2C2C30;
  display: flex;
  flex-direction: column;

}



main {
  width: 100vw;
}

footer{
  width: 90vw;
  margin-top: 30px;
  border-top: solid 1px var(--SecondaryColor);

  display: flex;
  justify-content: center;
  p{
    margin: 0;
    font-size: 1rem;
  }
  a{
    height: 1rem;
    color: var(--SecondaryColor);
    display: flex;
    max-width: fit-content;
  }
  li:hover>a{
    font-weight: 600;
  }
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    li.pageName{
      cursor: default;
    }
    li{
      padding: 5px 10px;
      width: fit-content;
    }
  }
  
}

.container{
  padding: 0;
  border: solid 1px var(--SecondaryColor);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: center;
  .container_header{
    width: 100%;
    border-bottom: solid 1px var(--SecondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    .buttons_area{
      width: fit-content;
      margin-right: 30px;
    }
    h2 {
      margin: 5px 0 0 40px;
    }
    a.btn,button{
      margin: 5px 5px;
    }
  }}

a{
  cursor: pointer;
  text-decoration: none ;
}
a.current-page>p{
  font-weight: 400;
}
li{
  cursor: pointer;
}

#button_BackToTop{
  --buttonToTopSize: 60px;
  height: var(--buttonToTopSize);
  width: var(--buttonToTopSize);
  border: none;
  background: none;
  display: flex;
  padding: 0;

  svg{
    height: var(--buttonToTopSize); width: var(--buttonToTopSize);
    path{
      fill: var(--DecorateColor);
    }
  }
}

.btn,button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
  color: var(--SecondaryColor);
}

.btn-primary {
  font-weight: 500;
}
.btn-primary:hover{
  background: var(--DecorateColor);
  color: var(--MainColor)
}
.btn-secondary {
  background: var(--SecondaryColorDecorate);
}

.btn-secondary:hover{
  background: var(--DecorateColor);
  color: var(--MainColor);
}
.btn.transparent{
  border: solid 1px var(--SecondaryColor);
  background: none;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}