main{
    display: grid;
    grid-template-columns: 70% auto;
    gap: 10px;
    .container.latest-posts{
        width: 100%;
        .post{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            width: 100%;
            background: red;
            :nth-child(3){
                justify-content: center;
            }
            .post_info{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                text-align: left;
                p{
                    font-size: 3vmin;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin: 0;
                    margin-right: 5px;
                    height: fit-content;
                }
                h1{
                    margin: 0;
                }
            }
            img{
                height: 400px;
                width: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }
            a.read-more{
                align-self: flex-start;
                color: red;
            }
        }
    }
    aside{
        /* position: fixed;
        right: 4%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .profile{
            display: flex;
            flex-direction: row;
            img{
                --imgProfileSize: 60px;
                width: var(--imgProfileSize);
                height: var(--imgProfileSize);
                border-radius: 50%;
            }
            .social-icons{
                width: 24px;
            }
        }
        .album_week{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Define 2 colunas */
            grid-template-rows: auto auto; /* Define 2 linhas, a altura ajusta conforme o conteúdo */
            gap: 10px; /* Espaçamento entre as áreas */

            .container-header{
                text-align: center;
                font-size: 2cap;
                font-weight: 700;
                grid-column: 1 / 3; /* A primeira linha ocupa as 2 colunas */
                margin: 0;
                margin-top: 2px;
            }

            img{
                grid-column: 1 / 2; /* Primeira coluna na segunda linha */
                padding: 10px;
            }
            .album-info{
                grid-column: 2 / 2;
                .album-name{
                    font-size: 3vmin;
                    font-weight: 500;
                    margin: 0;
                }
                .album-artist,.album-total_tracks{
                    font-size: 2.5vmin;
                    margin: 0;
                    font-weight: 400;
                }
            }
        }

        .featured_playlist{
            width: 100%;
            iframe{
                width: 90%;
            }
        }
    }
}