* {
    --darkMode-SecondaryColor: white;
    --SecondaryColorDecorate: #242424;
    --DecorateColor: #D5D5D6;
}

main{
    .container-header{
        font-size: 4vh;
        margin: 0;
    }
    input{
        padding: 5px 20px;
        margin-right: 10px;
    }
    
    .container-header.post-form{
        margin-top: 20px;
    }
    #form_post{
        width: 80%;
        label{
            margin-right: 5px;
        }
        button{
            border: none;
        }
        .buttons-area{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;
            width: fit-content;
            .btn-danger:hover{
                background: #cc1527;;
            }
            .btn-danger {
                background: #dc3545;
            }
        }
    }
    
    
    .featured-album{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding-bottom: 30px;
        li:hover{
            background: var(--SecondaryColorDecorate);
        }
        button{
            border: none;
        }
        .container-header{
            width: 100%;
            text-align: center;
        }
        span{
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 15px;
            width: 100%;
            .search-results{
                height: 50vh;
                ul{
                    height: 70%;
                    overflow-y: scroll;

                }
            }
        }
    }
    .see-definedAlbum{
        height: 200px;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        gap: 50px;
        .album-cover-area{
            img{
                height: 200px;
            }
        }
        .album-info{
            p{
                margin: 5px;
            }
        }
    }
    .featured-playlist{
        position: relative;
        display: flex;
        margin: 0 10px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .container-header{
            margin-top: 10px;
            margin-bottom: 15px;
            width: 100%;
            text-align: center;
        }
        input{
            margin-left: 5px;
        }
        button{
            padding: 5px 20px;
        }
        .see-playlist{
            margin-top: 10px;
            p{
                margin: 0;
                text-align: center;
            }
        }
    }


    .featured-playlist::after,.featured-playlist::before{
        content: "";
        width: 80%;
        position: absolute;
        border-top: solid 1px var(--DecorateColor);
    }
    .featured-playlist::before{
        top: 0;
    }
    .featured-playlist::after{
        bottom: 0;
    }

    .all-posts{
        margin: 20px 0;
    }

}