* {
  --darkMode-MainColor: #2C2C30;
  /* --darkMode-MainColor: #242424; */
  --darkMode-SecondaryColor: white;
  --darkMode-DecorateColor: #D5D5D6;
  --borderRadius: 49px;
}

body {
  background: var(--darkMode-MainColor);
  font-family: "League Spartan", sans-serif;
  color: var(--darkMode-SecondaryColor);
  display: flex;
  flex-direction: column;

}

header {
  width: 90vw;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: solid 1px var(--darkMode-SecondaryColor);
  margin-bottom: 30px;

  nav {
    a {
      font-weight: 300;
      letter-spacing: 3px;
      color: var(--darkMode-SecondaryColor);
      padding-top: 5px;
    }

    .current-page {
      background-color: var(--darkMode-DecorateColor);
      color: var(--darkMode-MainColor);
      margin-left: 10px;
    }

    :first-child {
      padding-left: 5px;
      margin-right: 5px;
    }

    :nth-child(2)::before {
      content: "|";
    }
  }
}

main {
  width: 90vw;
}

.container{
  padding: 0;
  border: solid 1px var(--darkMode-SecondaryColor);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: center;
  .container_header{
    width: 100%;
    border-bottom: solid 1px var(--darkMode-SecondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    h2 {
      margin: 5px 0 0 40px;
    }
    a.btn,button{
      margin: 5px 35px;
    }
  }}

.btn,button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.btn-primary {
  /* background: #0d6efd; */
  /* background: var(--darkMode-DecorateColor); */
  border: solid 1px var(--darkMode-SecondaryColor);
  /* color: #2C2C30; */
  font-weight: 500;
}
.btn-secundary {
  background: #151518;
  color: white;
}
