* {
    --MainColor: #2C2C30;
    /* --darkMode-MainColor: #242424; */
    --SecondaryColor: white;
    --DecorateColor: #D5D5D6;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: fit-content;
    p{
        margin: 0;
        margin-bottom: 10px;
    }
    img.profile{
        border-radius: 50%;
        height: 20vh;
    }
    .info{
        width: 90%;
        font-size: 1.250rem;
    }
    .links{
        width: 70%;
        height: fit-content;
        display: grid;
        gap: 1px;
        grid-template-columns: auto auto auto;
        row-gap: 10px;
        a{
            justify-self: center;
            display: flex;
            min-width: fit-content;
            width: 10vw;
            padding-right: 20px;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.250rem;
            font-weight: 400;
            letter-spacing: 1px;
            svg{
                margin-right: 10px;
                fill: var(--DecorateColor);
            }
        }
        a:hover{
            background: #151518;
        }
        img.musicboard{
            margin-right: 10px;
        }
    }
}

@media (max-width: 926px){
.about-me{
    .links{
        width: 100%;
        grid-template-columns: auto auto;
    }
}
}